body {
  background-color: #6da7cc;
  color: ghostwhite;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.main-header {
  margin-top: 5vh;
  min-height: 75vh;
  height: 500px;
  max-height: 90vh;
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
}

.main-header > img {
  width: 100%;
  height: 100%;
  max-width: 768px;
  max-height: 90vh;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}
.main-header {
  text-align: center;
  padding: 20px;
}
footer .waiting-list-form {
  display: none;
}
.waiting-list-form {
  background-color: #ffffff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 768px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.waiting-list-form h2 {
  color: #333;
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 20px;
  position: relative;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-bottom-color: #6da8cc; /* Material Design Blue */
}

.form-input::placeholder {
  color: #aaa;
}

.form-submit {
  background-color: #6da8cc; /* Material Design Blue */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.form-submit:hover {
  background-color: #5d93a6; /* Darker shade for hover effect */
}

.main-nav {
  color: #6da7cc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(5vh + 1rem);
  background-color: ghostwhite;
  font-weight: bolder;
  z-index: 100;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 1rem;
  text-decoration: none;
}
.main-nav > ul > li > a {
  text-decoration: none;
  color: #6da7cc;
}

.main-nav:hover > ul > li > a,
.main-nav:focus > ul > li > a,
.main:focus-visible ~ header > nav > ul > li > a {
  color: ghostwhite;
}

.main-nav:hover,
.main-nav:focus,
.main:focus-visible ~ header > nav {
  background-color: #6da8cc99;
  color: ghostwhite;
}

/* Add or adjust your existing CSS */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  z-index: 99;
  background-color: ghostwhite;
}

/* Ensure sections are tall enough to notice the parallax effect */
.main > .section {
  width: 100%;
  height: 100vh; /* Adjust based on your design */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed; /* Optional based on your design */
}

/* Additional styles remain unchanged */

.main > .section > section {
  display: flex;
  justify-content: space-around;
}

.main > .section > section > .card {
  min-height: 15rem;
  width: 25%;
  background-color: ghostwhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  color: #6da7cc;
  padding: 1rem;
}

.main > .section > h2 {
  font-size: 3rem;
}

/* On mouse-over, add a deeper shadow */
.main > .section > section > .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.App {
  position: relative;
}
.App > footer {
  color: ghostwhite;
}

.App > footer a {
  text-decoration: none;
  color: white !important;
}

.App > footer h1 {
  font-size: 1.5rem;
}

@media screen and (max-width: 767.999px) {
  body {
    min-height: 120vh;
  }
  .main-header {
    flex-direction: column;
    justify-content: center;
    background-image: url("./mobile.png");
  }
  .main-header > img {
    display: none;
  }
  .main-header > .waiting-list-form {
    display: none;
  }
  footer {
    position: relative;
    min-height: 20vh;
  }
  footer > .waiting-list-form {
    position: absolute;
    display: block;
    left: 50%;
    z-index: 100;
  }
  footer > h1 {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }
  .main > .section > section {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .main > .section > section > .card {
    width: 100%;
    max-width: 85vw;
    margin: 2rem;
  }
}

.video-background {
  position: relative;
  overflow: hidden;
  background-color: #6da8cc99;
}

.video-background .content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  top: 20%; /* Adjust based on your content */
}

/* Ensure text is readable over the video */
.video-background .content h1,
.video-background .content p {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 10px;
}
